/* Dark Background */
body {
  background-color: #121212;
  color: #ffffff;
}


header, nav, ul, li {
  background-color: #333333;
  color: #ffffff;
}


a {
  color: #bb86fc;
}


main, article, section {
  background-color: #1e1e1e;
  color: #ffffff;
}

h1, h2 {
  color: #bb86fc;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

thead, th, td {
  border: 2px solid #333333;
}

caption {
  background-color: #333333;
  color: #ffffff;
}


footer {
  background-color: #333333;
  color: #ffffff;
  
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px; /* replace with actual footer height */
  
}
